@import 'config';

// Sidenav

.sideNav {
  height: 86%;
  width: 220px;
  position: fixed;
  background: black;
  z-index: 1;
  top: 0;
  left: 0;

  &__logo {

    & span {
      font-size: x-large;
      font-weight: bold;
      color: $primary-color;
    }

    & i {
      color: $primary-color;
    }
  }

  &__nav a, 
  &__nav li,
  &__playlists a,
  &__playlists li {
    color: $secondary-color;
    font-weight: bold;
    @include transition-ease;

    &:hover {
      color: $primary-color;
    }
  }

  h5 {
    color: $secondary-color;
  }

  &__playlists {
    border-bottom: 0.05em solid $third-color;
  }

  .myPlaylist li,
  &__install a {
    color: $secondary-color;
    @include transition-ease;

    &:hover {
      color: $primary-color;
    }
  }

  .myPlaylist li {
    padding: .3rem;
  }

  &__install {
    padding: 0.25rem 1.25rem;
  }

  .active {
    background-color: $third-color;
    border-radius: 5px;
    margin: 0 -0.75rem;
    padding: .5rem 0.75rem;

    a, i {
      color: $primary-color;
    }
  }
}

// Main

.main {
  height: 100%;
  background: rgb(20, 20, 20);
  margin-left: 220px;
  
  h1 {
    padding: 2rem 2rem 0;
  }

  &__topBar {
    display: flex;
    width: 84%;
    top: 0;
    justify-content: space-between;
    background: rgb(20, 20, 20);
    padding: 1rem 2rem;
    position: fixed;
    overflow: hidden;
  }

  &__albumCards {
    padding-top: 60px;

    & > div {
      padding: 0.5rem 2rem 0.5rem;
    }

    &-shortcuts {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      // padding: 0 1rem 1rem 0;


      .cards-shortcuts {
        height: 70px;
        width: 300px;
        background: $third-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 3px;
        margin: .5rem 1.5rem .5rem 0;
        


        &-image {
          background: turquoise;
          height: 70px;
          width: 70px;
          border-radius: 5px 0 0 5px;
        }

        &-title {
          padding: 1rem;
          font-weight: bold;
        }
      }
    }

    &-playlists {
      display: flex;
      flex-wrap: wrap;


      .cards {
        height: 300px;
        width: 220px;
        background: rgb(39, 39, 39);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
        margin: .5rem 1.5rem .5rem 0;

        &-image {
          height: 220px;
          width: 196px;
          margin-top: 1rem;
          background: rgb(43, 153, 142);
          border-radius: 3px;
        }
        &-des {
          padding: 1rem;

          h3 {
            color: $primary-color;
          }

          p {
            color: $secondary-color;
            font-size: smaller;
          }
        }
      }
    }


  }

}

// Footer

.footer {
  height: 14%;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  background: $third-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__currentSong {

    & > div {
      padding: 0 1rem;
    }

    .songPic {
      height: 50px;
      width: 50px;
      background: turquoise;
    }
  }

  

  &__musicNav {
    height: 90px;
    .btn, .time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      line-height: 10px;
    }

    .time span {
      font-weight: 900;
    }

    i {
      padding: 1rem;
    }

  }
}